.albumArtistName {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
.album {
    margin: 10px 0 30px 20px;
    overflow: auto;
    clear: both;
}

.albumImage {
    float: left;
    margin: 0 10px 10px;
}

.albumImage img {
    max-width: 140px;
    max-height: 140px;
    box-shadow: 0 5px 10px #ccc;
    border: 1px solid #8a8a8a;
}

.albumInfo {
    margin-left: 165px;
}

.albumHeader {
    overflow: auto;
    font-size: 18px;
    border-bottom: 1px solid #ededed;
    padding: 5px 0 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.albumName {
    float: left;
    font-weight: bold;
    width: 100%;
    padding-right: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.albumYear {
    position: absolute;
    right: 0;
    color: #82817f;
    margin-right: 40px;
}

.albumDisc {
    margin-bottom: 10px;
}

.albumDiscHeader {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

.songList {
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
    column-width: 300px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    margin-right: 20px;
    overflow-x: hidden;
    font-size: 13px;
}

.songView {
    height: 1.4285715em;
    overflow: auto;
    cursor: pointer;
    padding: 4px 4px;
    margin: 0 5px;
    position: relative;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 0;
}

.songView_selected {
    background-color: #8ba7c9;
    border: 1px solid #829dbc;
    color: #fff;
    text-shadow: 0 1px 1px #547191;
}

.songView_selected .songTrackNumber,
.songView_selected .songDuration {
    color: #fff;
}

.songView_activated {

}

@sprite .songView_activated .songTrackNumber {
    gwt-image: "imgSpeaker";
    background-position: center right;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
    width: 25px;
    height: auto;
}

.songView_paused {

}

@sprite .songView_paused .songTrackNumber {
    gwt-image: "imgPause";
    background-position: center right;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
    width: 25px;
    height: auto;
}

.songTrackNumber {
    position: absolute;
    left: 0;
    width: 25px;
    min-height: 1em;
    text-align: right;
    color: #82817f;
    margin-left: 4px;
    z-index: 1;
}

.songName {
    width: 100%;
    float: left;
    padding: 0 50px 0 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.songDuration {
    position: absolute;
    right: 0;
    width: 40px;
    margin-right: 4px;
    text-align: right;
    color: #82817f;
    z-index: 1;
}