.artistList {

}

.artistView {
	cursor: pointer;
	border: 1px solid transparent;
    padding: 5px;
}
.artistView_selected {
	background-color: #8ba7c9;
	border: 1px solid #829dbc;
	color: #fff;
	text-shadow: 0 1px 1px #547191;
}

.artistName {
    display: block;
    overflow: hidden;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artistImageContainer {
    width: 30px;
    height: 30px;
    float: left;
}
.artistImage {
    width: 30px;
    height: 30px;
}