.artistView {
	cursor: pointer;
	border: 1px solid transparent;
}
.artistView_selected {
	background-color: #8ba7c9;
	border: 1px solid #829dbc;
	color: #fff;
	text-shadow: 0 1px 1px #547191;
}

.artistName {

}
.artistImage {
	width: 40px;
	height: 40px;
}