.headerBlock {
    background-image: -webkit-linear-gradient(top, #eee 0%, #c7c5c6 100%);
    background-image: -o-linear-gradient(top, #eee 0%, #c7c5c6 100%);
    background-image: linear-gradient(to bottom, #eee 0%, #c7c5c6 100%);
    background-repeat: repeat-x;
}

@sprite .logo {
    gwt-image: "imgLogo";
    background-repeat: no-repeat;
    width: 130px;
    height: 112px;
    float: left;
    background-position: center center;
}

.playerContainer {
    float: left;
}

.searchContainer {

}
