.album {
    margin: 10px 0 30px 20px;
    overflow: auto;
    clear: both;
}
.albumImage {
    float: left;
    margin: 0 10px 10px;
}
.albumImage img {
    max-width: 140px;
    max-height: 140px;
    box-shadow: 0 5px 10px #ccc;
    border: 1px solid #8a8a8a;
}
.albumInfo {
    margin-left: 165px;
}
.albumHeader {
    overflow: auto;
    font-size: 18px;
    border-bottom: 1px solid #ededed;
    padding: 5px 0 10px 10px;
    margin-bottom: 10px;
    position: relative;
}
.albumName {
    float: left;
    font-weight: bold;
    width: 100%;
    padding-right: 100px;
    -moz-border-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.albumYear {
    position: absolute;
    right: 0;
    color: #82817f;
    margin-right: 40px;
}

.albumDisc {

}

.albumDiscHeader {
    font-weight: bold;
    padding: 5px 10px;
}

.songList {
    -moz-column-width: 400px;
    -webkit-column-width: 400px;
    column-width: 400px;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
    overflow-x: hidden;
}

.songView {
    overflow: auto;
    cursor: pointer;
    padding: 4px;
    position: relative;
    border: 1px solid transparent;
}

.songView_selected {
    background-image: linear-gradient(to bottom, #9ab9d8, #7997bb);
    background-repeat: repeat-x;
    border: 1px solid #718eb0;
    color: #fff;
    text-shadow: 0 1px 1px #547191;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.songView_selected .songTrackNumber,
.songView_selected .songName,
.songView_selected .songDuration {
    color: #fff;
    text-shadow: 0 1px 1px #547191;
}

.songView_activated {
	background-color: #8ba7c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-radius: 3px;
    border: 1px solid #829dbc;
}

.songView_activated .songTrackNumber {
    color: transparent;
    text-shadow: none;
}

.songView_activated .songName,
.songView_activated .songDuration {
    color: #fff;
    text-shadow: 0 1px 1px #547191;
}


.songTrackNumber {
    position: absolute;
    left: 0;
    width: 20px;
    min-height: 1em;
    text-align: right;
    color: #82817f;
    margin-right: 15px;
}
.songName {
    -moz-border-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 70px 0 35px;
    width: 100%;
    float: left;
}
.songDuration {
    position: absolute;
    right: 0;
    width: 40px;
    text-align: right;
    color: #82817f;
    margin-right: 30px;
}